.comment {
  overflow: hidden;
  background: #ececec;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 5px;
}

#comment-bar {
  position: fixed;
  width: 320px;
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 100%;
  // FIXME: как сделать плавный переход ?
}

.banner-img {
  width: 100%;
  height: 400px;
  background: yellow;
}
