.post-image {
  max-width: 100%;
  max-height: 300px;
}

.user-info > * {
  display: inline-block;
}

.user-info-avatar {
  height: 48px;
  width: 48px;
  vertical-align: middle;
  background: red;
  margin-right: 12px;
}

.user-info-username {
  vertical-align: middle;
}

.event {
  height: 300px;
  overflow: hidden;
  background: #ececec;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 5px;
}

.post-text {
  margin-top: 0;
  margin-bottom: 5%;
  max-height: 55%;
  overflow-y: scroll;
  display: block;
}

.event .user-info {
  max-height: 20%;
}

.event .like-comment-buttons {
  max-height: 20%;
}

.green {
  background: greenyellow;
}

.red {
  background: orange;
}

button {
  padding: 5px 10px;
  border: 1px solid white;
  margin-right: 5px;
}


.centered  {
  margin: auto;
}

.avatar-large {
  height: 250px;
  width: 250px;
  vertical-align: middle;
  background: red;
  margin-right: 12px;
}
